.container {
  height: 100%;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding-bottom: 100%;
}

.carousel-item > div {
    background-color: transparent;
}

.start-button {
    font-size: 30px;
    width: 80%;
}