.container {
  height: 100%;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding-bottom: 100%;
}

.carousel-item > div {
  background-color: transparent;
}

.start-button {
  font-size: 30px;
  width: 80%;
  transition: translate 0.5s ease-in-out;
}

.settings-group {
  width: 100%;
  transition: translate 0.5s ease-in-out;
}