.container {
  flex: 1;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-bottom: 20px;
}

.carousel-item > div {
  background-color: transparent;
}

.start-button {
  font-size: 30px;
  width: 80%;
  transition: translate 0.5s ease-in-out;
}

.settings-group {
  width: 100%;
  transition: translate 0.5s ease-in-out;
}