.playing-container {
    height: 100%;
    flex: 1;
    display: flex;
    flex-direction: column;
}

.playing-top {
    border-bottom: #dff1ff;
    border-bottom-style: solid;
    box-shadow: 6px 6px rgba(0, 0, 0, 0.5);
    z-index: 1;
    border-radius: 0 0 10px 10px;
    background-color: #282c34;
    padding-bottom: 10px;
    display: flex;
    justify-content: space-between;
    padding: 0px 15px 10px;
}

.timebar {
    border-style: solid;
    height: 40%;
    border-color: #dff1ff;
}

.timebar-content {
    display: block;
    width: 100%;
    border-radius: 10px;
}

.playing-bottom {
    height: 100%;
    flex: 1;
    background-color: #f57b51;
}